---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/NavBar.astro";

const { id } = Astro.params;

const response = await fetch(
  `https://basiccrud-pw73.onrender.com/api/blogPosts/first10Blogs?id=${id}`
);

const blogPost = await response.json();
---
<Nav/>
<Layout>
<div>
  <p>{blogPost.title}</p>

  <img src="" alt="">
</div>
</Layout>
