---
import Layout from "@layouts/Layout.astro"
import Animes from "@components/LastAnimes.astro"
import Nav from "@components/NavBar.astro"
import FeaturedPost from "@components/FeaturedPost.astro"
---
<Nav/>
<Layout>
<FeaturedPost/>
<div class="text-center text-2xl">Horario de Esta Temporada</div>
<Animes/>
</Layout>
