---

---

<div class="row">
    {
     
        <div class="col-lg-3">
          <div class="card mt-4 " style="width: 18rem;">
            <a href="/">
              <img
                src="djasljda"
                alt="poster"
                class="card-img-top"
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">Hola</h5>
            </div>
          </div>
        </div>
     
    }
  </div>